:root {
  --primary-1: #9356DC;
  --primary-2: #F0D9FF;
  --secondary-1: #FF79DA;
  --tertiary-1: #99E2D0;
  --grey-1: #ebebeb;
  --grey-2: #F6F6F6;
  --grey-3: #696969;
  --dark-1: #353535;
  --linear-gradient: linear-gradient(170deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
  --font-title: "Shrikhand";
  --font-text: "Roboto", sans-serif ;
  --box-shadow: 0px 3px 8px 6px var(--grey-1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-text);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

header {
  width: 100%;
  text-align: center;
}
header img {
  padding: 1.5rem 0 0.8rem;
}
header .header-location {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--grey-1);
}
header .header-location span {
  margin-right: 12px;
}
header .header-reservation {
  background-color: var(--grey-2);
}
header .header-reservation h1 {
  width: 80%;
  margin: 0 auto;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 2rem;
  padding: 2.5rem 0 1rem;
}
header .header-reservation p {
  width: 90%;
  margin: 0 auto;
  color: grey;
  font-weight: 500;
  font-size: 1.2rem;
}
header .header-reservation button {
  margin: 2rem auto 3.5rem;
  background: var(--linear-gradient);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 1rem;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}
header .header-reservation button:hover {
  opacity: 0.8;
}

header .header-links-container {
  position: relative;
}
header .header-links-container .arrow-link {
  margin: auto 0;
  position: absolute;
  font-size: 1.5rem;
  left: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
}
header .header-image-container {
  margin: 0 auto;
  width: 100%;
  height: 30vh;
}
header .header-image-container img {
  padding: 0;
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

.functioning {
  width: 90%;
  margin: 3rem auto;
}
.functioning h2 {
  font-size: 1.8rem;
  font-weight: 900;
}
.functioning .functioning-cards-container ul {
  margin-top: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 32vh;
}
.functioning .functioning-cards-container ul li {
  width: 90%;
  display: inline-flex;
}
.functioning .functioning-cards-container ul li:nth-child(1) .functioning-btn:before {
  content: "1";
}
.functioning .functioning-cards-container ul li:nth-child(2) .functioning-btn:before {
  content: "2";
}
.functioning .functioning-cards-container ul li:nth-child(3) .functioning-btn:before {
  content: "3";
}
.functioning .functioning-cards-container ul li .functioning-btn {
  position: relative;
  display: flex;
  align-items: center;
  padding: 1.75rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 700;
  border: none;
  border-radius: 20px;
  background-color: var(--grey-2);
  box-shadow: var(--box-shadow);
  cursor: pointer;
}
.functioning .functioning-cards-container ul li .functioning-btn:hover {
  background-color: var(--primary-2);
}
.functioning .functioning-cards-container ul li .functioning-btn:hover i {
  color: var(--primary-1);
}
.functioning .functioning-cards-container ul li .functioning-btn:before {
  position: absolute;
  left: -1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: var(--primary-1);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.functioning .functioning-cards-container ul li .functioning-btn i {
  font-size: 1.2rem;
  color: var(--grey-3);
  margin-right: 1.2rem;
}

@media screen and (min-width: 768px) {
  .functioning h2 {
    text-align: center;
  }
}
@media screen and (min-width: 992px) {
  .functioning h2 {
    font-size: 2rem;
  }
  .functioning .functioning-cards-container ul {
    margin-top: 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: auto;
  }
  .functioning .functioning-cards-container ul li {
    width: 31%;
    height: auto;
  }
}
.restaurants {
  width: 100%;
  margin: 5rem auto 0;
  padding: 0 0 4rem;
  display: flex;
  flex-direction: column;
  background-color: var(--grey-2);
}
.restaurants h2 {
  font-size: 1.8rem;
  font-weight: 700;
  width: 90%;
  margin: 3rem auto 0;
}
.restaurants .card-menu {
  width: 90%;
  height: 30vh;
  margin: 0 auto;
  margin-top: 1.5rem;
  border-radius: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: var(--box-shadow);
  cursor: pointer;
}
.restaurants .card-menu span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 7%;
  right: 4%;
  z-index: 1000;
  width: 90px;
  height: 35px;
  color: rgb(16, 134, 16);
  background-color: var(--tertiary-1);
}
.restaurants .card-menu .container-img {
  width: 100%;
  height: 70%;
  border-radius: 20px 20px 0 0;
}
.restaurants .card-menu .container-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.restaurants .card-menu .container-infos {
  width: 100%;
  height: 30%;
  padding: 1rem;
  border-radius: 0 0 20px 20px;
  background-color: white;
  box-shadow: var(--box-shadow);
}
.restaurants .card-menu .container-infos h3 {
  font-size: 1rem;
  font-weight: 700;
  padding: 0 0 0.2rem;
}
.restaurants i {
  position: absolute;
  font-size: 1.5rem;
  right: 6%;
  bottom: 10%;
}
.restaurants .first-heart {
  opacity: 1;
  transition: opacity 200ms linear;
}
.restaurants .first-heart:hover {
  opacity: 0;
}
.restaurants .second-heart {
  opacity: 0;
  color: var(--secondary-1);
  transition: opacity 250ms ease-in, transform 250ms ease-in;
}
.restaurants .second-heart:hover {
  opacity: 1;
  transform: scale(1.2);
}

@media screen and (min-width: 992px) {
  .restaurants {
    align-items: center;
  }
  .restaurants .container-cards {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .restaurants h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }
  .restaurants .card-menu {
    width: 45%;
  }
}
footer {
  color: white;
  background-color: var(--dark-1);
}
footer h5 {
  font-size: 1.2rem;
  padding: 1.5rem 1.5rem 0;
  font-family: var(--font-title);
}
footer ul {
  padding: 1rem 1.5rem 2.5rem;
}
footer ul li {
  margin-top: 0.5rem;
}
footer ul li a {
  font-weight: bold;
  cursor: pointer;
}
footer ul li a:hover {
  opacity: 0.8;
}
footer ul li i {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem;
}

@media screen and (min-width: 768px) {
  footer h5 {
    text-align: center;
    font-size: 2rem;
  }
  footer ul {
    width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}
.menu-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: var(--grey-2);
  border-radius: 40px 40px 0 0;
}
.menu-container .menu-title-content {
  background-color: var(--grey-2);
  position: relative;
  width: 100%;
  border-radius: 35px 35px 0 0;
  height: auto;
  display: flex;
  align-items: center;
  font-family: var(--font-title);
  padding: 2rem 1rem 1rem;
}
.menu-container .menu-title-content i {
  position: absolute;
  font-size: 1.5rem;
  padding: inherit;
  right: 0%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.menu-container .menu-title-content .first-heart {
  opacity: 1;
  transition: opacity 200ms linear;
}
.menu-container .menu-title-content .first-heart:hover {
  opacity: 0;
}
.menu-container .menu-title-content .second-heart {
  opacity: 0;
  color: var(--primary-1);
  transition: opacity 400ms linear;
}
.menu-container .menu-title-content .second-heart:hover {
  opacity: 1;
}
.menu-container h3 {
  font-weight: 400;
  padding: 0.2rem;
}
.menu-container .green-border {
  width: 50px;
  height: 3px;
  background-color: var(--tertiary-1);
}
.menu-container .entries, .menu-container .dishes, .menu-container .desserts {
  width: 90%;
  margin: 2rem auto 0;
}
.menu-container .entries .card, .menu-container .dishes .card, .menu-container .desserts .card {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0 1rem 1rem;
  background-color: white;
  border-radius: 20px;
  box-shadow: var(--box-shadow);
  margin-top: 1rem;
  cursor: pointer;
}
.menu-container .entries .card .card-content, .menu-container .dishes .card .card-content, .menu-container .desserts .card .card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.menu-container .entries .card .card-content h4, .menu-container .dishes .card .card-content h4, .menu-container .desserts .card .card-content h4 {
  font-size: 1.2rem;
  padding: 0 0 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-container .entries .card .card-content .card-infos, .menu-container .dishes .card .card-content .card-infos, .menu-container .desserts .card .card-content .card-infos {
  display: inline-flex;
  justify-content: space-between;
}
.menu-container .entries .card .card-content .card-infos p, .menu-container .dishes .card .card-content .card-infos p, .menu-container .desserts .card .card-content .card-infos p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-container .entries .card .card-content .card-infos strong, .menu-container .dishes .card .card-content .card-infos strong, .menu-container .desserts .card .card-content .card-infos strong {
  margin-right: 1rem;
}
.menu-container .entries .card .animate-check, .menu-container .dishes .card .animate-check, .menu-container .desserts .card .animate-check {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 0;
  background-color: var(--tertiary-1);
  border-radius: 0 20px 20px 0;
}
.menu-container .entries .card .animate-check .container-check-icon, .menu-container .dishes .card .animate-check .container-check-icon, .menu-container .desserts .card .animate-check .container-check-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border-radius: 50%;
  animation: rotateCheckOut 0.2s linear;
}
.menu-container .entries .card .animate-check .container-check-icon i, .menu-container .dishes .card .animate-check .container-check-icon i, .menu-container .desserts .card .animate-check .container-check-icon i {
  color: transparent;
  font-size: 1.1rem;
  font-weight: bold;
}
.menu-container .entries .card:hover .animate-check, .menu-container .dishes .card:hover .animate-check, .menu-container .desserts .card:hover .animate-check {
  height: 80px;
  width: 5rem;
  transition: width 0.2s ease-in-out;
}
.menu-container .entries .card:hover .animate-check .container-check-icon, .menu-container .dishes .card:hover .animate-check .container-check-icon, .menu-container .desserts .card:hover .animate-check .container-check-icon {
  background-color: white;
  animation: rotateCheckIn 0.2s linear;
}
.menu-container .entries .card:hover .animate-check .container-check-icon i, .menu-container .dishes .card:hover .animate-check .container-check-icon i, .menu-container .desserts .card:hover .animate-check .container-check-icon i {
  color: var(--tertiary-1);
  font-size: 1.1rem;
  font-weight: bold;
}

.command-btn {
  margin: 2.5rem auto;
  background: var(--linear-gradient);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}
.command-btn:hover {
  opacity: 0.8;
}

@media screen and (min-width: 768px) {
  .menu-container .menu-title-content {
    padding: 2rem 2rem 1rem;
  }
  .menu-container .container-menu-sections {
    display: flex;
    justify-content: space-between;
  }
  .menu-container .container-menu-sections .entries, .menu-container .container-menu-sections .dishes, .menu-container .container-menu-sections .desserts {
    width: 31%;
  }
}
@keyframes rotateCheckIn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
