// LOADER 
@keyframes loaderContainer {
    from {
        z-index: 1500;
        opacity: 0.7;
    }
    to {
        z-index: -1;
        opacity: 0;
    }
}

  @-webkit-keyframes scale-up {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0); }
    50% {
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @keyframes scale-up {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0); }
    50% {
      -webkit-transform: scale(1);
              transform: scale(1); } }
  
  @-webkit-keyframes scale {
    0%, 50% {
      opacity: 0; }
    55% {
      opacity: 1; }
    100% {
      opacity: 0;
      -webkit-transform: scale(2);
              transform: scale(2); } }
  
  @keyframes scale {
    0%, 50% {
      opacity: 0; }
    55% {
      opacity: 1; }
    100% {
      opacity: 0;
      -webkit-transform: scale(2);
              transform: scale(2); } }


// -------------------------

// Check translate + rotate

@keyframes translateCheckIn {
    from {
        width: 0;
    }
    to {
        width: 5rem;
    }
}

@keyframes translateCheckOut {
    from {
        width: 5rem;
    }
    to {
        width: 0;
    }
}

@keyframes rotateCheckIn {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

// ---------------------

// Menu smooth 

@keyframes displayMenus {
    from {
      margin-top: 3rem;
      opacity: 0;
    }
    to {
      margin-bottom: 0rem;
      opacity: 1; 
    }
}


// ------------------
