.card {
        
    .animate-check {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0%;
        height: 100%;
        background-color: var(--tertiary-1);
        border-radius: 0 20px 20px 0;
    
        .container-check-icon { 
            display: flex;
            justify-content: center;
            align-items: center;
            width: 25px;
            height: 25px;
            background-color: transparent;
            border-radius: 50%;
            
            i {
                color: transparent;
                font-size: 1.1rem;
                font-weight: bold;
            }
        }
    }
    &:hover {
        strong {    
            margin-right: 17%;
        }
        .animate-check {
            height: 80px;
            width: 17%;
            transition: width 0.2s linear;
        
            .container-check-icon { 
                background-color: white;
                animation: rotateCheck 0.2s linear;
                
                i {
                    color: var(--tertiary-1);
                    font-size: 1.1rem;
                    font-weight: bold;
                }
            }
        }
    }
}

@keyframes rotateCheck {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}