:root {
    --primary-1: #9356DC;
    --secondary-1: #FF79DA;
    --tertiary-1: #99E2D0;
    --grey-1: #ebebeb;
    --grey-2: #F6F6F6;

    --linear-gradient: linear-gradient(170deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);

    --font-title: 'Shrikhand';
    --font-text: "Roboto", sans-serif ;

    --box-shadow: 
}