footer {
    color: white;
    background-color: var(--dark-1);

    h5 {
        font-size: 1.2rem;
        padding: 1.5rem 1.5rem 0;
        font-family: var(--font-title);
    }

    ul {
        padding: 1rem 1.5rem 2.5rem;
        li {
            margin-top: 0.5rem;
            a {
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }
            }
            i { 
                width: 1.2rem;
                height: 1.2rem;
                margin-right: 0.5rem;
            }
        }
    }

}

@media screen and (min-width: 768px) {
    footer {

        h5 {
            text-align: center;
            font-size: 2rem;
        }
        ul {
            width: 700px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }
    }

}