.functioning {
    width: 90%;
    margin: 3rem auto;

    h2 {
        font-size: 1.8rem;
        font-weight: 900;
    }

    .functioning-cards-container { 

        ul {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
            li {
                width: 90%;
                display: inline-flex;

                button {
                    margin-top: 1.5rem;
                    padding: 1.75rem;
                    width: 100%;
                    border: none;
                    border-radius: 20px;
                    background-color: var(--grey-2);
                }
            }
        }


    }
}