.functioning {
    width: 90%;
    margin: 3rem auto;

    h2 {
        font-size: 1.8rem;
        font-weight: 900;
    }

    .functioning-cards-container { 

        ul {
            margin-top: 1.5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 32vh;
            
            li {
                width: 90%;
                display: inline-flex;
           


                button {
                    position: relative;
                    display: flex;
                    align-items: center;
                    padding: 1.75rem;
                    width: 100%;
                    font-size: 1rem;
                    font-weight: 700;
                    border: none;
                    border-radius: 20px;
                    background-color: var(--grey-2);
                    box-shadow: var(--box-shadow);
                    cursor: pointer;
                    &:hover {
                        background-color: var(--primary-2);

                        i {
                            color: var(--primary-1);
                        }
                    }
                    
                    &:before {
                        position: absolute;
                        left: -1.5rem;
                        content: counter(num_list);
                        counter-increment: num_list;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        background-color: var(--primary-1);
                        width: 2rem;
                        height: 2rem;
                        border-radius: 50%;

                    }

                    i {
                        font-size: 1.2rem;
                        color: var(--grey-3);
                        margin-right: 1.2rem;
                    }
                }
            }
        }


    }
}