header {
    width: 100%;
    text-align: center;

    img {
        padding: 1.5rem 0 0.8rem;
    }

    .header-location {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        padding: 1rem;
        font-size: 1rem;
        font-weight: 500;
        background-color: var(--grey-1);

        span {
            margin-right: 12px;
        }
    }

    .header-reservation {
        background-color: var(--grey-2);

        h1 {
            width: 80%;
            margin: 0 auto;
            font-size: 1.8rem;
            font-weight: 900;
            line-height: 2rem;
            padding: 2.5rem 0 1rem;
        }

        p {
            width: 90%;
            margin: 0 auto;
            color: grey;
            font-weight: 500;
            font-size: 1.2rem;
        }

        button {
            margin: 2rem auto 3.5rem;
            background: var(--linear-gradient);
            color: white;
            border: none;
            border-radius: 25px;
            padding: 1rem;
            font-weight: 500;
            font-size: 1rem;
            cursor: pointer;

            &:hover {
                opacity: 0.8;
                box-shadow: var(--box-shadow);
            }
        }
    }

}