.menu-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: var(--grey-2);
    border-radius: 40px 40px 0 0;
    
    .menu-title-content {
        background-color: var(--grey-2);
        position: relative;
        width: 100%;
        border-radius: 35px 35px 0 0;
        height: auto;
        display: flex;
        align-items: center;
        font-family: var(--font-title);
        padding: 2rem 1rem 1rem;

        i {
            position: absolute;
            font-size: 1.5rem;
            padding: inherit;
            right: 0%;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
        .first-heart {
            opacity: 1;
            transition: opacity 200ms linear;
            &:hover {
                opacity: 0;
            }
        }
        .second-heart {
            opacity: 0;
            color: var(--primary-1);
            transition: opacity 400ms linear;
            &:hover {
                opacity: 1;
            }
        }
    }

    h3 {
        font-weight: 400;
        padding: 0.2rem;
    }

    .green-border {
        width: 50px;
        height: 3px;
        background-color: var(--tertiary-1);
    }

    .entries, .dishes, .desserts {
        width: 90%;
        margin: 2rem auto 0;
        
        .card {
            height: 80px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1rem 0 1rem 1rem;
            background-color: white;
            border-radius: 20px;
            box-shadow: var(--box-shadow);
            margin-top: 1rem;
            cursor: pointer;
            
            .card-content {
                width: 100%;
                display: flex;
                flex-direction: column;
                
                h4 {
                    font-size: 1.2rem;
                    padding: 0 0 0.5rem;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }

                .card-infos {
                    display: inline-flex;
                    justify-content: space-between;
                    p {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
    
                    strong {                 
                        margin-right: 1rem;
                    }
                }
            }
            .animate-check {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 0;
                background-color: var(--tertiary-1);
                border-radius: 0 20px 20px 0;
            
                .container-check-icon { 
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 25px;
                    height: 25px;
                    background-color: transparent;
                    border-radius: 50%;
                    animation: rotateCheckOut 0.2s linear;
                    
                    i {
                        color: transparent;
                        font-size: 1.1rem;
                        font-weight: bold;
                    }
                }
            }
            &:hover {
                .animate-check {
                    height: 80px;
                    width: 5rem;
                    transition: width 0.2s ease-in-out;
                
                    .container-check-icon { 
                        background-color: white;
                        animation: rotateCheckIn 0.2s linear;
                        
                        i {
                            color: var(--tertiary-1);
                            font-size: 1.1rem;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
        }

    }

    .command-btn {
        margin: 2.5rem auto;
        background: var(--linear-gradient);
        color: white;
        border: none;
        border-radius: 25px;
        padding: 1rem 2rem;
        font-weight: 500;
        font-size: 1rem;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }


@media screen and (min-width: 768px) {

    .menu-container {
        .menu-title-content {
            padding: 2rem 2rem 1rem;
        }

        .container-menu-sections {
            display: flex;
            justify-content: space-between;
    
    
            .entries, .dishes, .desserts {
                width: 31%;
            }   
        }
    }
    

}