.restaurants {
    width: 100%;
    margin: 6rem auto;
    padding: 0 0 5rem;
    display: flex;
    flex-direction: column;
    background-color: var(--grey-2);

    h2 {
        font-size: 1.8rem;
        font-weight: 700;
        width: 90%;
        margin: 3rem auto 0;
    }

    .card-menu {
        width: 90%;
        margin: 0 auto;
        margin-top: 1.5rem;
        border-radius: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        box-sizing: var(--box-shadow);
        cursor: pointer;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 7%;
            right: 4%;
            z-index: 1000;
            width: 90px;
            height: 35px;
            color: rgb(18, 97, 18);
            background-color: rgba(146, 254, 146, 0.863);
        }

        .container-img {
            width: 100%;
            height: 20vh;
            border-radius: 20px 20px 0 0;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px 20px 0 0;
            }
        }
        .container-infos {
            width: 100%;
            height:8vh;
            padding: 1rem;
            border-radius: 0 0 20px 20px;
            background-color: white;
            box-shadow: var(--box-shadow);

            h3 {
                font-size: 1rem;
                font-weight: 700;
                padding: 0 0 0.2rem;
            }
        }
    }
    i {
        position: absolute;
        font-size: 1.5rem;
        right: 6%;
        bottom: 10%;
        z-index: 1;

        &:hover {
            opacity: 0;
            transform: opacity 1s ease-in;
        }

        &:before {
            z-index: 0;
            content: "1";
        }
    }
}