.restaurants {
    width: 100%;
    margin: 5rem auto 0;
    padding: 0 0 4rem;
    display: flex;
    flex-direction: column;
    background-color: var(--grey-2);

    h2 {
        font-size: 1.8rem;
        font-weight: 700;
        width: 90%;
        margin: 3rem auto 0;
    }

    .card-menu {
        width: 90%;
        height: 30vh;
        margin: 0 auto;
        margin-top: 1.5rem;
        border-radius: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        box-sizing: var(--box-shadow);
        cursor: pointer;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 7%;
            right: 4%;
            z-index: 1;
            width: 90px;
            height: 35px;
            color: rgb(16, 134, 16);
            background-color: var(--tertiary-1);
        }

        .container-img {
            width: 100%;
            height: 70%;
            border-radius: 20px 20px 0 0;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px 20px 0 0;
            }
        }
        .container-infos {
            width: 100%;
            height:30%;
            padding: 1rem;
            border-radius: 0 0 20px 20px;
            background-color: white;
            box-shadow: var(--box-shadow);

            h3 {
                font-size: 1rem;
                font-weight: 700;
                padding: 0 0 0.2rem;
            }
        }
    }
    i {
        padding: 0;
        position: absolute;
        font-size: 1.5rem;
        right: 6%;
        bottom: 10%;
    }
    .first-heart {
        opacity: 1;
        transition: opacity 250ms linear;
        &:hover {
            opacity: 0;
        }
    }
    .second-heart {
        opacity: 0;
        background: var(--linear-gradient);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: opacity 250ms linear;
        &:hover {
            opacity: 1;
        }
    }

}

@media screen and (min-width: 992px) {
    .restaurants {
        align-items: center;

       .container-cards {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
       }
       h2 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 1rem;
        }
        .card-menu {
            width: 45%;
        }
    }
}