@import "./utils/variables";
@import "./utils/reset";
@import "./utils/bases";
@import './components/header';
@import "./components/functioning";
@import "./components/restaurants";
@import "./components/footer"