@import "./utils/variables";
@import "./utils/reset";
@import "./utils/bases";
@import './components/headerHome';
@import './components/headerMenu';
@import "./components/functioning";
@import "./components/restaurants";
@import "./components/footer";
@import "./components/menus";
@import "./utils/animations";
@import "./components/loader"